/* .forms{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
} */

/* input{
    width: 50%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

.divs { 
    
   
    margin: auto ;
    width: 60%;
    /* text-align: center; */
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.forms{
     width: 100%;
    padding: 20px;
    margin: 50px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    margin: auto;
    width: 50%;
    
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 50%;
    margin: auto;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Button {
    background-color: lightgrey;
    border: 1px ;
    color:#5C9210;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 6px 10px;
    margin: auto;
    font-weight: bold;
    width: 50%;
    display: block;
    box-sizing: border-box;
}

h1{
    text-align: center;
}


